<div class="login-container">
  <form (ngSubmit)="login()" class="login-form">
    <h2>Welcome Back 👋</h2>

    <div class="input-group">
      <label for="userName">Username</label>
      <input
        type="text"
        id="userName"
        formControlName="userName"
        placeholder="Enter your username"
      />
    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <div class="password-wrapper">
        <input
          [type]="hidePassword ? 'password' : 'text'"
          id="password"
          formControlName="password"
          placeholder="Enter your password"
        />
        <span class="toggle" (click)="hidePassword = !hidePassword">
          {{ hidePassword ? '👁️' : '🚫' }}
        </span>
      </div>
    </div>

    <button [disabled]="form.invalid" class="login-btn" type="submit">
      Login
    </button>
  </form>
</div>
